<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

    # Redirect requests to public

    RewriteRule  ^$ public/    [L]

    RewriteRule  (.*) public/$1 [L]

</IfModule>